@font-face {
    font-family: Roboto;
    src: url("font/Roboto-Black.ttf");
    src: url("font/Roboto-BlackItalic.ttf"), url("font/Roboto-Bold.ttf"), url("font/Roboto-BoldItalic.ttf"), url("font/Roboto-Italic.ttf"), url("font/Roboto-Light.ttf"), url("font/Roboto-LightItalic.ttf"), url("font/Roboto-Medium.ttf"), url("font/Roboto-MediumItalic.ttf"), url("font/Roboto-Regular.ttf"), url("font/Roboto-Thin.ttf"), url("font/Roboto-ThinItalic.ttf"),
}

.container {
    width: 980px;
    height: 10000px;
    box-sizing: border-box;
}

.header_images {
    width: 760px;
    height: 190px;
    float: right;
}

.logo_header {
    width: 220px;
    height: 190px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.ul li {
    float: left;
    text-decoration: none;
    list-style: none;
}